{{ define "main" }}

  {{ "<!-- topics -->" | safeHTML }}
  <section class="pb-0" >
    <div class="container py-4">
      <div class="common-title mb-4">
        {{ i18n "topics_title" | safeHTML }}
      </div>
      <div class="row">
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        <div class="col-lg-3 col-sm-6 mb-4">
          <div class="px-4 py-4 bg-white shadow d-block match-height">
            <a href="{{ .Permalink }}" class="d-block mb-3">
              <img src="{{ .Params.Icon }}" class="align-middle mr-1" alt="">
              <span class="text-dark">{{ .Title }}</span>
            </a>
            <p class="mb-0 list-extro">
              {{.Description}}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}
  <section class="bg-white py-4 mb-4">
    <div class="container">
      <div class="common-title mb-4">
        联系我们
      </div>
      <div class="d-flex justify-content-between">
        <div class="flex-wrap">
          <div class="mb-2">
            <i class="text-primary ti-email mr-1 align-middle"></i><span class="text-dark">联系邮箱</span>
          </div>
          <p></p>
          <div>
            <span class="text-secondary"></span>
            <span class="text-primary">ken.coder.help@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ if .Site.Params.cta.enable }}
  {{ with .Site.Params.cta }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}
  {{ end }}

{{ end }}