{
    "openapi": "3.0.0",
    "info": {
        "title": "Fapi",
        "description": "antdv5的接口前缀为/api/v2<br>当前版本为/api/<br/>返回列表的格式有区别外其他一致",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "http://www.l.now.cn/",
            "description": "主站"
        },
        {
            "url": "http://www.l.tnet.hk/",
            "description": "香港站"
        },
        {
            "url": "http://www.l.eranet.com/",
            "description": "英文站"
        },
        {
            "url": "http://www.l.taoa.com/",
            "description": "淘安网"
        },
        {
            "url": "http://www.l.now.cn:8000/",
            "description": "主站 开发环境"
        },
        {
            "url": "http://www.l.tnet.hk:8000/",
            "description": "香港站 开发环境"
        },
        {
            "url": "http://www.l.eranet.com:8000/",
            "description": "英文站 开发环境"
        },
        {
            "url": "http://www.l.taoa.com:8000/",
            "description": "淘安网 开发环境"
        }
    ],
    "paths": {
        "/api/company/CreateCompanyApply": {
            "post": {
                "tags": [
                    "api-company"
                ],
                "summary": "创建公司注册申请记录",
                "operationId": "CompanyCreateCompanyApply",
                "parameters": [
                    {
                        "name": "PorductID",
                        "in": "query",
                        "description": "公司注册的产品ID , 35002:澳门公司 35001:国内公司 35004:珠海公司,35005:横琴公司,35006:深圳公司, 35007:广州公司, 35060:前海公司, 35010:海南公司",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CompanyName",
                        "in": "query",
                        "description": "公司名称中文,公司名称中文和公司名称英文二者有一项为必填项",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CompanyNameEn",
                        "in": "query",
                        "description": "公司名称英文",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "RegisteredCapital",
                        "in": "query",
                        "description": "企业注册资金",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CompanyTypeCode",
                        "in": "query",
                        "description": "企业性质 1：私人 ：2 公众 ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Range",
                        "in": "query",
                        "description": "公司经营范围",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Address",
                        "in": "query",
                        "description": "经营地址",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ShareHolderDataList",
                        "in": "query",
                        "description": "董事或股东信息 JSON 格式数组，(注：当前公司的原有的股东董事信息不在提交数据中的做删除操作) <br/>\r\n    IDSH: 股东或董事ID，没有或为0表示新增<br/>\r\n    zh_name: 中文姓名 String,<br/>\r\n    en_name：英文姓名 String ,<br/>\r\n    Sex:性别 整数(1:男  2:女),<br/>\r\n    Nationality:国籍 国际两位标准代码 CN:中国,<br/>\r\n    Identity:身份 整数(0:董事 1:股东 2:经理 3:监事  4:秘书 5:财务人  6:办税人)<br/>\r\n    ShareRatio:股份比例 整数<br/>\r\n    IDType:证件类型 （SFZ：身份证 PASS:护照)<br/>\r\n    IDNo:证件号码<br/>\r\n    zh_Address:证件地址<br/>\r\n    en_Address:英文证件地址<br/>\r\n    例子 ：[{&quot;IDSH&quot;:3,&quot;zh_name&quot;:&quot;张三&quot;,&quot;en_name&quot;:&quot;zhang shang&quot;,&quot;Identity&quot;:0,&quot;ShareRatio&quot;:55,&quot;IDType&quot;:&quot;SFZ&quot;,&quot;IDNo&quot;:&quot;440412198912120001&quot;,&quot;zh_Address&quot;:&quot;广东省肇庆市鼎湖区莲花镇XX街道XX号&quot;,&quot;en_Address&quot;:&quot;guang dong sheng zhao qing shi XXX&quot;,&quot;tel&quot;:&quot;13053545345&quot;,&quot;email&quot;:&quot;test@qq.com&quot;},]\r\n          ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Contact"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/company/DescribePrice": {
            "post": {
                "tags": [
                    "api-company"
                ],
                "summary": "查询公司产品价格",
                "operationId": "CompanyDescribePrice",
                "parameters": [
                    {
                        "name": "PorductID",
                        "in": "query",
                        "description": "公司注册的产品ID , 35002:澳门公司 35001:国内公司 35004:珠海公司,35005:横琴公司,35006:深圳公司, 35007:广州公司, 35060:前海公司, 35010:海南公司",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Contact"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/index": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "云DNS列表",
                "operationId": "getAllDnsUsingGET",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                0,
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    },
                    {
                        "name": "timetype",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "starttime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endtime",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ValueAdded"
                                            }
                                        },
                                        "Pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/DescribeRecordIndex": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "域名解析记录列表",
                "operationId": "DnsDescribeRecordIndex",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "description": "域名,如果为中文域名请输入转码后的",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "IDDomain",
                        "in": "query",
                        "description": "域名表的ID,无则不填",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "quickSearch",
                        "in": "query",
                        "description": "快速搜索 1 A记录, 2 @&www , 3 CNAME",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Host",
                        "in": "query",
                        "description": "主机头",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Type",
                        "in": "query",
                        "description": "主机类型",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Value",
                        "in": "query",
                        "description": "主机值",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "如需要导出传 export",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DnsRecordItem"
                                            }
                                        },
                                        "Pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/AddDomainRecord": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "域名创建解析记录",
                "operationId": "DnsAddDomainRecord",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "description": "域名,如果为中文域名请输入转码后的",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Host",
                        "in": "query",
                        "description": "主机头,不填默认为@",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Type",
                        "in": "query",
                        "description": "主机类型,不填默认为A",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Value",
                        "in": "query",
                        "description": "主机值",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Mx",
                        "in": "query",
                        "description": "mx",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Ttl",
                        "in": "query",
                        "description": "ttl,最低不得低于600",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/DeleteDomainRecord": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "域名删除解析记录",
                "operationId": "DnsDeleteDomainRecord",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "description": "解析记录的Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/UpdateDomainRecord": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "域名更新解析记录",
                "operationId": "DnsUpdateDomainRecord",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Host",
                        "in": "query",
                        "description": "主机头,不填默认为@",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Type",
                        "in": "query",
                        "description": "主机类型,不填默认为A",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Value",
                        "in": "query",
                        "description": "主机值",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Mx",
                        "in": "query",
                        "description": "mx",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Ttl",
                        "in": "query",
                        "description": "ttl,最低不得低于600",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/DescribeLogIndex": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "解析的域名日志记录",
                "operationId": "DescribeLogIndex",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "description": "域名,如果为中文域名请输入转码后的",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "IDDomain",
                        "in": "query",
                        "description": "域名表的ID,无则不填",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DnsLogItem"
                                            }
                                        },
                                        "Pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/DescribeDomainRecordInstance": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "解析的域名详情",
                "operationId": "DescribeDomainRecordInstance",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "description": "域名,如果为中文域名请输入转码后的",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "IDDomain",
                        "in": "query",
                        "description": "域名表的ID,无则不填",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "Domain": {
                                            "description": "域名",
                                            "type": "string"
                                        },
                                        "Platform": {
                                            "type": "string"
                                        },
                                        "ProductId": {
                                            "description": "0 表示当前为正常版本, 1008 专业版 1009 企业版 1010  旗舰版 ,1 高级版 ,2 全球版",
                                            "type": "integer"
                                        },
                                        "ProdcutStartAt": {
                                            "description": "开始时间,ProductId有值时才有效",
                                            "type": "string"
                                        },
                                        "ProdcutExpiredAt": {
                                            "description": "过期时间,ProductId有值时才有效",
                                            "type": "string"
                                        },
                                        "Dns": {
                                            "description": "解析列表",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dns/SetDomainRecordStatus": {
            "post": {
                "tags": [
                    "api-dns"
                ],
                "summary": "域名开启暂停解析记录",
                "operationId": "DnsSetDomainRecordStatus",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Status",
                        "in": "query",
                        "description": "解析记录状态。取值：Enable: 启用解析 Disable: 暂停解析",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/SetContactTemplateDefault": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "设置默认模板",
                "operationId": "DomainSetContactTemplateDefault",
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "RequestId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/GetTemplateVerifyCode": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "获取模板验证用的验证码",
                "operationId": "DomainGetTemplateVerifyCode",
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "RequestId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/index": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "域名列表",
                "operationId": "DomainIndex",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "多个关键词用,号隔开",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fIDDomainFolder",
                        "in": "query",
                        "description": "文件夹ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "intActive",
                        "in": "query",
                        "description": "1 生效  -1 未生效",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "EmailUnpass",
                        "in": "query",
                        "description": "邮箱未验证   1 未验证",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "EncPassword",
                        "in": "query",
                        "description": "高级保护   1 开启",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "privatereg",
                        "in": "query",
                        "description": "私有化保护   1 开启",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "timetype",
                        "in": "query",
                        "description": "时间类型",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at",
                                "expired_at",
                                "update_at"
                            ]
                        }
                    },
                    {
                        "name": "time1",
                        "in": "query",
                        "description": "开始时间",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "time2",
                        "in": "query",
                        "description": "结束时间",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "StatusType",
                        "in": "query",
                        "description": "快捷类型判断 active 生效 , user_needrenew 当前用需续费的,user_needrenew30 30天需续费的及已过期并可以续费的,user_expired 当前用户已过期的,not_rnvc 实名认证, redemption 赎回",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ContactRemoteStatus",
                        "in": "query",
                        "description": "实名状态 -1 未上传审核 , 1 上传未审核, -2 未认证通过 , 0 审核认证中 , 2 已认证通过",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tld",
                        "in": "query",
                        "description": "域名后缀,如 com  cn  top  cc",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isAutoRenew",
                        "in": "query",
                        "description": "是否自动续费 1 是 2 否",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sorter",
                        "in": "query",
                        "description": "排序",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Domain"
                                            }
                                        },
                                        "Pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        },
                                        "isShowNotRnvc": {
                                            "description": "是否显示未实名, 1显示 2未显示",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/DescribeDomainFolderIndex": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "域名文件夹列表",
                "operationId": "DomainDescribeDomainFolderIndex",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DomainFolder"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/CreateDomainFolder": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "创建域名文件夹",
                "operationId": "DomainCreateDomainFolder",
                "parameters": [
                    {
                        "name": "Name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Description",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DomainFolder"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/ModifyDomainFolder": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "修改域名文件夹",
                "operationId": "DomainModifyDomainFolder",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Description",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/api/domain/RemoveDomainFolder": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "删除域名文件夹",
                "operationId": "DomainRemoveDomainFolder",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/api/domain/JoinDomainFolder": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "分配域名到文件夹中",
                "operationId": "DomainJoinDomainFolder",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "description": "文件夹ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "IDDomains",
                        "in": "query",
                        "description": "域名ID,多个用,隔开,IDDomains和Domain其中选填一个",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Domain[]",
                        "in": "query",
                        "description": "如now.cn,",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/api/domain/ModifyDNS": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "修改域名DNS",
                "description": "",
                "operationId": "DomainModifyDNS",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Dns",
                        "in": "query",
                        "description": "ns1;ns2",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "RecordData": {
                                            "description": "我司解析的复制迁移",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "type": {
                                                        "description": "解析类型",
                                                        "type": "string"
                                                    },
                                                    "host": {
                                                        "description": "主机头",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "description": "值",
                                                        "type": "string"
                                                    },
                                                    "result": {
                                                        "description": "复制结果",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/DescribeInstance": {
            "get": {
                "tags": [
                    "api-domain"
                ],
                "summary": "查询域名详情",
                "description": "",
                "operationId": "DomainDescribeInstance",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "$ref": "#/components/schemas/Domain"
                                        },
                                        "Extra": {
                                            "properties": {
                                                "NSList": {
                                                    "description": "登记DNS服务器 1 显示,2隐藏",
                                                    "type": "integer"
                                                },
                                                "Certificate": {
                                                    "description": "打印域名证书",
                                                    "type": "integer"
                                                },
                                                "AddSubDomain": {
                                                    "description": "增加子域名数量",
                                                    "type": "integer"
                                                },
                                                "domainTransfer": {
                                                    "description": "转入",
                                                    "type": "integer"
                                                },
                                                "ownerchange": {
                                                    "description": "域名资料修改/过户",
                                                    "type": "integer"
                                                },
                                                "auction": {
                                                    "description": "域名交易",
                                                    "type": "integer"
                                                },
                                                "domainPrivate": {
                                                    "description": "私有化注册",
                                                    "type": "integer"
                                                },
                                                "domainTransferout": {
                                                    "description": "获取转移密码",
                                                    "type": "integer"
                                                },
                                                "transferToCn": {
                                                    "description": "秒转国内接口",
                                                    "type": "integer"
                                                },
                                                "transferToOversea": {
                                                    "description": "秒转海外接口",
                                                    "type": "integer"
                                                },
                                                "transferInBackOrder": {
                                                    "description": "抢注域名转入",
                                                    "type": "integer"
                                                },
                                                "bindDotHK": {
                                                    "description": "贈送.香港域名",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/BatchCheckTransferIn": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "检查是否能转入",
                "description": "",
                "operationId": "DomainBatchCheckTransferIn",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "description": "域名,多个;隔开",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "description": "域名",
                                                        "type": "string"
                                                    },
                                                    "BundleDomain": {
                                                        "description": "hk域名特有",
                                                        "type": "string"
                                                    },
                                                    "error": {
                                                        "type": "string"
                                                    },
                                                    "action": {
                                                        "type": "integer"
                                                    },
                                                    "price": {
                                                        "type": "integer"
                                                    },
                                                    "oversea_price": {
                                                        "type": "integer"
                                                    },
                                                    "domain_keycode": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/CreateTransferIn": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "提交创建转入",
                "operationId": "DomainCreateTransferIn",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ContactId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_oversea",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "RequestId": {
                                            "type": "string"
                                        },
                                        "domain": {
                                            "type": "string"
                                        },
                                        "action": {
                                            "type": "integer"
                                        },
                                        "domain_keycode": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "number"
                                        },
                                        "oversea_price": {
                                            "type": "number"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/DescribeTransferPrices": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "批量获取域名价格",
                "operationId": "DomainDescribeTransferPrices",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "操作 1 注册 3 转入 , 默认转入",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DomainProductInfo[]",
                        "in": "query",
                        "description": "产品ID",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "dot": {
                                                        "type": "string"
                                                    },
                                                    "price": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/CheckRegister": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "批量查询域名是否可注册",
                "operationId": "DomainCheckRegister",
                "parameters": [
                    {
                        "name": "domains",
                        "in": "query",
                        "description": "a.cn,b.cn",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ignore_premium",
                        "in": "query",
                        "description": "是否过滤溢价 1表示过滤,传0 表示不过滤,",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/api/domain/CreateInstance": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "注册域名",
                "operationId": "DomainCreateInstance",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Period",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_oversea",
                        "in": "query",
                        "description": "0 国内    1 海外    2 特价接口",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                0,
                                1,
                                2
                            ]
                        }
                    },
                    {
                        "name": "ContactId",
                        "in": "query",
                        "description": "模板ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Dns",
                        "in": "query",
                        "description": "now1.dns.com;now2.dns.com",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payment_method",
                        "in": "query",
                        "description": "默认user_deposit_only  只用包销包 promo_package_only  优先包销包 promo_package_first   只用余额 user_deposit_only",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "user_deposit_only",
                                "promo_package_first"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource"
                    }
                }
            }
        },
        "/api/domain/DescribePrice": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "查询价格",
                "operationId": "DomainDescribePrice",
                "parameters": [
                    {
                        "name": "Domain",
                        "in": "query",
                        "description": "域名",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Period",
                        "in": "query",
                        "description": "年限 默认为1 ,表示1年",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_oversea",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tld",
                        "in": "query",
                        "description": "域名后缀 如 cn ,  com",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "RequestId": {
                                            "type": "string"
                                        },
                                        "PriceInfo": {
                                            "properties": {
                                                "Price": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/CheckRemoteEmailVerified": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "部分注册商需要对远端邮件进行发送校验",
                "operationId": "DomainCheckRemoteEmailVerified",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "description": "域名ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "OnlyCheck",
                        "in": "query",
                        "description": "是否仅检查验证",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "triggerCode",
                        "in": "query",
                        "description": "远端triggerCode码",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/ModifyInstanceAutoRenewAttribute": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "修改域名自动续费",
                "description": "修改域名自动续费",
                "operationId": "DomainModifyInstanceAutoRenewAttribute",
                "parameters": [
                    {
                        "name": "IDDomain[]",
                        "in": "query",
                        "description": "域名ID",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Domain[]",
                        "in": "query",
                        "description": "域名",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "AutoRenew",
                        "in": "query",
                        "description": "是否开启自动续费,1开启,0关闭",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "successData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "ym": {
                                                        "type": "string"
                                                    },
                                                    "domain": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "errorData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "ym": {
                                                        "type": "string"
                                                    },
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "error": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/DomainSituation": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "各种后缀的统计情况",
                "operationId": "DomainSituation",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "Dot": {
                                                        "description": "后缀",
                                                        "type": "string"
                                                    },
                                                    "Total": {
                                                        "description": "总数",
                                                        "type": "integer"
                                                    },
                                                    "Expired": {
                                                        "description": "已过期",
                                                        "type": "integer"
                                                    },
                                                    "Expired_30": {
                                                        "description": "30天内过期",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/RemoveInstances": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "删除域名",
                "description": "删除域名",
                "operationId": "DomainRemoveInstances",
                "parameters": [
                    {
                        "name": "Ids[]",
                        "in": "query",
                        "description": "域名ID",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Domain[]",
                        "in": "query",
                        "description": "如now.cn,",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "successData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "errorData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "error": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/BatchRenewInstance": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "批量续费域名",
                "description": "批量续费域名",
                "operationId": "DomainBatchRenewInstance",
                "parameters": [
                    {
                        "name": "Domain[]",
                        "in": "query",
                        "description": "如now.cn",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Period",
                        "in": "query",
                        "description": "年限",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "IDAAction": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "successData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "price": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "errorData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "error": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/BatchSetPassword": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "批量设置域名密码",
                "operationId": "DomainBatchSetPassword",
                "parameters": [
                    {
                        "name": "Domain[]",
                        "in": "query",
                        "description": "如now.cn ,如需要设置单独密码可传 now.cn空格123",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "Password",
                        "in": "query",
                        "description": "要修改的密码,为空则表示取消外部登陆",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "successData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "password": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "errorData": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "error": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/DescribePrivateRegister": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "查询有关私有化注册的信息",
                "operationId": "DomainDescribePrivateRegister",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "description": "域名ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "RequestId": {
                                            "type": "string"
                                        },
                                        "PriceInfo": {
                                            "properties": {
                                                "Price": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/CreatePrivateRegister": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "创建私有化注册",
                "operationId": "DomainDescribePrivateRegister",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "query",
                        "description": "域名ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "IDAAction": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "description": "domain.expired-in-30-day 过期时间需大于30天",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/DescribeCloudDnsPrices": {
            "post": {
                "tags": [
                    "api-domain"
                ],
                "summary": "查询云解析的价格",
                "operationId": "DomainDescribeCloudDnsPrices",
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "product_id": {
                                                        "type": "integer"
                                                    },
                                                    "price": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/domain/bulk/DescribeCurrentUserJobsList": {
            "get": {
                "tags": [
                    "api-domain-bulk"
                ],
                "summary": "获取当前用户批量执行任务列表",
                "operationId": "DescribeCurrentUserJobsList",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "查询批量任务类型：ownerChange:批量域名过户,icpCheck:批量ICP检查,dnsUpdate:批量修改DNS,domainRegister:域名批量注册,domainResolveUpdate:域名批量解析,domainTransferAccount:域名批量用户归属更换",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchText",
                        "in": "query",
                        "description": "查询内容",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchStatus",
                        "in": "query",
                        "description": "查询任务状态 0:未开始，10：开始处理，-10：暂停处理，20：已预处理，21：第二步处理，40：处理失败，100：处理成功完成",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "accountTransferStatus",
                        "in": "query",
                        "description": "【查询类型为：domainTransferAccount 包含此参数】查询状态：Untreated:未处理,Agree:已接收,Refuse:已拒绝,Cancel:已取消,Expired:已过期",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "transferType",
                        "in": "query",
                        "description": "【查询类型为：domainTransferAccount 包含此参数】转移类型：transferOut：转出,transferIn:转入",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An example resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "RequestId": {
                                            "description": "Request标识Id",
                                            "type": "string"
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "Id": {
                                                        "description": "id",
                                                        "type": "integer"
                                                    },
                                                    "UserId": {
                                                        "description": "用户ID",
                                                        "type": "integer"
                                                    },
                                                    "Status": {
                                                        "description": "0:未开始，10：开始处理，-10：暂停处理，20：预处理，21：处理中，40：处理失败， 100：处理完成",
                                                        "type": "integer"
                                                    },
                                                    "CreatedAt": {
                                                        "description": "创建时间",
                                                        "type": "string"
                                                    },
                                                    "UpdatedAt": {
                                                        "description": "更新时间",
                                                        "type": "string"
                                                    },
                                                    "CompletedAt": {
                                                        "description": "完成时间",
                                                        "type": "string"
                                                    },
                                                    "Content": {
                                                        "description": "内容",
                                                        "type": "string"
                                                    },
                                                    "ReceptionState": {
                                                        "description": "【查询类型为：domainTransferAccount 包含此数据】 接收状态：Untreated:未处理,Agree:已接收,Refuse:已拒绝,Cancel:已取消,Expired:已过期",
                                                        "type": "string"
                                                    },
                                                    "ToUserid": {
                                                        "description": "【查询类型为：domainTransferAccount 包含此数据】接收用户",
                                                        "type": "string"
                                                    },
                                                    "TransferType": {
                                                        "description": "【查询类型为：domainTransferAccount 包含此数据】转移类型：transferOut：转出,transferIn:转入",
                                                        "type": "string"
                                                    },
                                                    "delayExecTime": {
                                                        "description": "【查询类型为：domainRegister 包含此数据】延迟执行时间",
                                                        "type": "string"
                                                    },
                                                    "resubmitReserveHours": {
                                                        "description": "【查询类型为：domainRegister 包含此数据】保留再次提效时间（单位：小时）",
                                                        "type": "string"
                                                    },
                                                    "canDel": {
                                                        "description": "【查询类型为：domainRegister 包含此数据】能否删除（1：可以删除，0：不能删除）",
                                                        "type": "integer"
                                                    },
                                                    "TotalCount": {
                                                        "description": "总数量",
                                                        "type": "integer"
                                                    },
                                                    "CompletedCount": {
                                                        "description": "完成数量",
                                                        "type": "integer"
                                                    },
                                                    "FailCount": {
                                                        "description": "失败数量",
                                                        "type": "integer"
                                                    },
                                                    "NotbeginCount": {
                                                        "description": "未开始数量",
                                                        "type": "integer"
                                                    },
                                                    "InprocessCount": {
                                                        "description": "处理中数量",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "Pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        },
                                        "error": {
[...]
